*{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

main{
    background: 
       linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),
       url(img/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-functionality{
    background-color: rgb(99, 99, 99);
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    opacity: 0.7;
    margin-bottom: 10px;
}

.search-box{
    display: flex;
    float: left;
}

.search-box img{
    height: 30px;
    width: 30px;
}

.search-box input{
    all: unset;
    height: 30px;
    width: 350px;
    margin-right: 10px;
    background-color: rgb(99, 99, 99);
    color: white;
    padding-left: 15px;
}

.search-box input::placeholder{
    color: white;
    opacity: 1;
}

.submit{
    height: 30px;
    width: 70px;
    border-radius: 50px;
    background-color: rgba(0,0,0,.85);
    color: white;
}

.submit:hover{
    background-color: rgba(0,0,0,.65);
}

.links{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.web-links{
    margin: 10px 30px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.5s ease-in;
}

.web-links:hover{
     background-color: rgba(240,240,240,0.5);
}